BasedOnStyle: LLVM

# --- Indentation ---
IndentWidth: 4
TabWidth: 4
UseTab: Never

# --- Espaces autour des structures de contrôle ---
SpaceAfterControlStatementKeyword: true
SpaceBeforeParens: ControlStatements
SpacesInConditionalStatement: true

# --- Accolades en début de ligne ---
BreakBeforeBraces: Allman

# --- Simplification des if/for/while à une seule ligne ---
AllowShortIfStatementsOnASingleLine: true
RemoveBracesLLVM: true

# --- Style général ---
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
